<app-header></app-header>
  <section class="jumbotron text-center" *ngIf="isHomepage; else homeContent;">
    <div class="container">
      <h1 class="jumbotron-heading">{{ appTitle }}</h1>
      <p class="lead text-muted">
        A WebGL 3D model viewer
      </p>
      <div class="row justify-content-start" id="cubes-logo">
        <div class="col-12">
          <app-logo></app-logo>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4">
          <a routerLink="/" class="btn btn-primary">First call to action</a>
        </div>
        <div class="col-4">
          <a routerLink="/scene" class="btn btn-secondary">Secondary action</a>
        </div>
      </div>		  
    </div>
  </section>

<ng-template #homeContent>
<main role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

</ng-template>
