<div class="row" >
	<div class="col-3">
		<div class="" *ngIf="selectedModel">
				<h4>{{selectedModel.name}} details</h4>
				<div><label>id: </label>{{selectedModel.id}}</div>
				<div>
					<label>name: </label>
					<input [(ngModel)]="selectedModel.name" placeholder="name"/>
				</div>
		</div>
	</div> <!-- .col -->
	<div class="col-9">
		<ul class="list-group list-group-flush"	*ngFor="let model of models" (click)="onSelect(model)" [class.selected]="model === selectedModel">
			<li class="list-group-item">{{model.id}} {{model.name}}</li>
		</ul>
	</div> <!-- .col -->
</div> <!-- .row -->